* {
  box-sizing: border-box;
}

body {
  max-height: 100vh;
  margin: 0;
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  background-color: rgba(248, 248, 247, 1);
  overflow: hidden;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
    padding: 0;
    margin: 0;
}

button {
  font-family: 'Jost', sans-serif;
}


/* Styles for Swiper Pagination */
.swiper-pagination {
  position: absolute;
  height: fit-content;
  background-color: white;
  display: block;
  right: 0;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  padding: 5px;
}

.swiper-pagination-bullet {
  padding: 5px !important;
  display: inline-block;
  background-color: #FBE0DC !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: #FF868E !important;
}